<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BlueprintBoardDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BlueprintTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Whiteboard_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <BlueprintBoardDemo.Properties.Settings>
            <setting name="SnapOptions" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawnStroke" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EraserShape" serializeAs="String">
                <value>Ellipse</value>
            </setting>
            <setting name="SnapDistance" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GridDimensions" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EraserRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LineDetail" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoUnify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawPathPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditMode" serializeAs="String">
                <value>Point</value>
            </setting>
            <setting name="DashStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="CreateMode" serializeAs="String">
                <value>FreeForm</value>
            </setting>
            <setting name="EraseMode" serializeAs="String">
                <value>Point</value>
            </setting>
            <setting name="ColorDebugPaths" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanvasSize" serializeAs="String">
                <value>500, 500</value>
            </setting>
        </BlueprintBoardDemo.Properties.Settings>
        <BlueprintTest.Properties.Settings>
            <setting name="SnapOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawnStroke" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EraserShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SnapDist" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GridDims" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EraserRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LineDetail" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoUnify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawPathPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DashStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreateMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EraseMode" serializeAs="String">
                <value>1</value>
            </setting>
        </BlueprintTest.Properties.Settings>
        <Whiteboard_Test.Properties.Settings>
            <setting name="FreeForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapOptions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawnStroke" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SquareErase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapDist" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GridDims" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EraserRadius" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LineDetail" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoUnify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawPathPoints" serializeAs="String">
                <value>False</value>
            </setting>
        </Whiteboard_Test.Properties.Settings>
    </userSettings>
</configuration>
